@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

/* Links */
a {
  font-weight: 500;
  color: #fb5e2f;
  text-decoration: none;
}

a:hover {
  color: #6dafb8;
}

/* Google Login Auth */

#auth {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 100px;
  text-align: center;
}

#auth h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.auth-profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.auth-button {
  background-color: #fb5e2f;
  border: 2px solid #fb5e2f;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.5em;
  letter-spacing: 1px;
}

.auth-button:hover {
  background-color: #ff470f;
  border: 2px solid #ff470f;
}

/* Header */

header {
  text-align: center;
}

.header img {
  width: 100%;
  max-width: 1000px;
}

.tagline {
  background-color: #6dafb8;
  background-image: url("../src/headerimage.png");
  background-position: center;
  padding: 70px;
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.logo img {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.logo img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Nav Bar */

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}

nav a {
  border-right: 2px solid #fff;
  width: 33vw;
  text-align: center;
  padding: 2rem;
  color: #000;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

nav a:not(:last-child) {
  border-right: solid 2px #6dafb8; /* This will not give border to last li element */
}

nav a:hover {
  font-weight: 500;
  color: #fb5e2f;
}

/* Search */

.search-container {
  /* border: 3px solid #8d8d8d; */
  /* padding: 25px; */
  text-align: right;
}

.search-container input {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.search-input {
  width: 350px;
}
.search-button {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

/* Content */

.container {
  margin: 0px auto;
  width: 75%;
  max-width: 1000px;
}

/* Red Header Box */
.red-header {
  width: 350px;
  height: 80px;
  border: 3px solid #fb5e2f;
  background-image: url("../src/star.png");
  background-position: left;
  background-size: 150px;
  background-repeat: no-repeat;
}

.red-header p {
  text-align: right;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-right: 25px;
}

/* All Drinks */

.all-drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

/* Single Drink Page */

.drink {
  display: flex;
}

.drink h1 {
  margin: 0 0 50px 0;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #6dafb8;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.drink h2 {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #fb5e2f;
  padding: 10px;
}

.drink-photo {
  display: flex;
  width: 350px;
  height: 350px;
  padding-right: 20px;
}

.drink-info {
  width: 100%;
}

.single-drink-img {
  width: 350px;
  height: 350px;
}

/* Profile Page */

.profile {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile h1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2em;
}

.drink-title {
  border-bottom: 3px solid #6dafb8;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Input & Forms */

input {
  border: 3px solid #b9b9b9;
  font-size: 1em;
  padding: 20px;
}

input:hover {
  border: 3px solid #8d8d8d;
}

.input-width {
  width: 50%;
}

.new-drink-title {
  border-bottom: 3px solid #6dafb8;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input.image-button {
  width: 100%;
  height: 300px;
  color: #fff;
  position: absolute;
  object-fit: contain;
  border: 0;
}

.upload-image {
  background-color: #e5e5e5;
  background-image: url("../src/dropimage.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 100;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 3px solid #b9b9b9;
}

.submit-button {
  position: relative;
  top: 50px;
  background-color: #fb5e2f;
  border: 0;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.submit-button:hover {
  background-color: #ff470f;
}

/* Footer */

footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dfdfdf;
  text-align: center;
}

footer nav a {
  border-right: 2px solid #dfdfdf;
}
